Gudrun/
__pycache__/
.vscode/
build/
bin/
dist/
*.xml
.coverage
*.gud
*.txt
*.DS_STORE
resources_rc.py
*.mint01
*.msubw01
*.bad
*.bak
*.autosave
*.soq
*.module
*.dat
*.text
*.cor
*.rawtrans
*.trans01
*.sub01
*.smomon
*.samrat
*.rawmon
*.pla01
*.mut01
*.mul01
*.gr1
*.gr2
*.dcs01
*.chksum
*.mgor01
*.mdcs01
*.sub01
*.abs01
*.mdor01
*.msub01
*.par
*.sample
*.transnofit01
*.rebinq01
*.vanrat
/.vs
/env/Scripts
.env
